# Python virtual environment
myenv/

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configuration
.env
*.log

# Firebase credentials
serviceAccountKey.json

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/
